button{
	border:none; /*fixes weird button border*/
}

.results{
	counter-reset: c;
}

.results #time:before {
	content: "#" counter(c) ": ";
	counter-increment: c;
}

div#header, div#footer{
	text-align: center;
}

select{
	cursor:pointer;
}

select:focus{
	cursor:auto;
}